.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}

.btn {
  color: white;
}

.footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.espacio {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.btn-link {
  color: blue;
}

/*# sourceMappingURL=style.css.map */
